# Configurações do banco de dados
DB_HOST=localhost
DB_NAME=peculios_db
DB_USERNAME=root
DB_PASSWORD=

# Configurações da aplicação
APP_NAME=Peculios
DEBUG=true
APP_DEFAULT_LOCALE=pt_BR
APP_DEFAULT_TIMEZONE=America/Fortaleza